.custom-loader {
    --R:30px;
    --g1:#766DF4 96%, #0000;
    --g2:#E4E4ED 96%, #0000;
    width: calc(2*var(--R));
    height:calc(2*var(--R));
    border-radius:50%;
    display: grid;
    -webkit-mask:linear-gradient(#000 0 0);
    animation: s10 2s infinite linear;
}

.custom-loader::before,
.custom-loader::after{
    content:"";
    grid-area: 1/1;
    width:50%;
    background:
            radial-gradient(farthest-side,var(--g1)) calc(var(--R) + 0.866*var(--R) - var(--R)) calc(var(--R) - 0.5*var(--R)   - var(--R)),
            radial-gradient(farthest-side,var(--g1)) calc(var(--R) + 0.866*var(--R) - var(--R)) calc(var(--R) - 0.5*var(--R)   - var(--R)),
            radial-gradient(farthest-side,var(--g2)) calc(var(--R) + 0.5*var(--R)   - var(--R)) calc(var(--R) - 0.866*var(--R) - var(--R)),
            radial-gradient(farthest-side,var(--g1)) 0 calc(-1*var(--R)),
            radial-gradient(farthest-side,var(--g2)) calc(var(--R) - 0.5*var(--R)   - var(--R)) calc(var(--R) - 0.866*var(--R) - var(--R)),
            radial-gradient(farthest-side,var(--g1)) calc(var(--R) - 0.866*var(--R) - var(--R)) calc(var(--R) - 0.5*var(--R)   - var(--R)),
            radial-gradient(farthest-side,var(--g2)) calc(-1*var(--R))  0,
            radial-gradient(farthest-side,var(--g1)) calc(var(--R) - 0.866*var(--R) - var(--R)) calc(var(--R) + 0.5*var(--R)   - var(--R));
    background-size:calc(2*var(--R)) calc(2*var(--R));
    background-repeat:no-repeat;
}

.custom-loader::after {
    transform:rotate(180deg);
    transform-origin:right;
}

@keyframes s10 {
    100% {transform: rotate(-1turn)}
}




.custom-loader {
    width: 50px;
    height: 50px;
    display: grid;
}
.custom-loader::before,
.custom-loader::after {
    content:"";
    grid-area: 1/1;
    --c: radial-gradient(farthest-side,#766DF4 92%,#0000);
    background:
            var(--c) 50%  0,
            var(--c) 50%  100%,
            var(--c) 100% 50%,
            var(--c) 0    50%;
    background-size: 12px 12px;
    background-repeat: no-repeat;
    animation: s2 1s infinite;
}
.custom-loader::before {
    margin:4px;
    filter:hue-rotate(45deg);
    background-size: 8px 8px;
    animation-timing-function: linear
}

@keyframes s2{
    100%{transform: rotate(.5turn)}
}