.custom-loader-infinity1 {
  width:90px;
  height:14px;
  background: repeating-linear-gradient(90deg, #766DF4 0 calc(25% - 5px),#0000 0 25%) left/calc(4*100%/3) 100%;
  animation: infinity1  0.5s infinite linear;
}
@keyframes  infinity1  {
    100% {background-position: right}
}
.custom-loader-infinity2 {
  width:90px;
  height:14px;
  background: radial-gradient(circle closest-side, #766DF4 92%,#0000 ) calc(100%/3) 0/calc(100%/4) 100%;
  animation: infinity2  0.5s infinite linear;
}
@keyframes  infinity2  {
    100% {background-position: 0 0}
}
.custom-loader-infinity3 {
  width:calc(80px / 0.707);
  height:14px;
  background: repeating-linear-gradient(-45deg, #766DF4 0 15px,#0000 0 20px) left/200% 100%;
  animation: infinity3  2s infinite linear;
}
@keyframes  infinity3  {
    100% {background-position:right}
}
.custom-loader-infinity4 {
  width:calc(80px / 0.707);
  height:14px;
  background: 
    repeating-linear-gradient(135deg, #766DF4 0 15px,#0000 0 20px) left top,
    repeating-linear-gradient( 45deg, #766DF4 0 15px,#0000 0 20px) left bottom;
  background-size:  200% 50%;
  background-repeat: no-repeat;
  animation: infinity4  2s infinite linear;
}
@keyframes  infinity4  {
    100% {background-position:top right,bottom right}
}
.custom-loader-infinity5 {
  width:90px;
  height:14px;
  background: 
    radial-gradient(circle 10px at right 7px top 50%,#0000 92%,#766DF4),
    radial-gradient(circle 10px at right 0   top 50%,#766DF4 92%,#0000);
  background-size: calc(100%/3) 100%; 
  background-position: 50% 0%;
  animation: infinity5  0.5s infinite linear;
}
@keyframes  infinity5  {
    100% {background-position: 0% 0%}
}
.custom-loader-infinity6 {
  width:90px;
  height:14px;
  background: 
    conic-gradient(from   45deg at calc(100% - 7px) 50%,#766DF4 90deg,#0000 0),
    conic-gradient(from -135deg at             7px  50%,#766DF4 90deg,#0000 0);
  background-position: calc(100%/3) 0;
  background-size:calc(100%/4) 100%;
  animation: infinity6  0.5s infinite linear;
}
@keyframes  infinity6  {
    100% {background-position: 0 0}
}
.custom-loader-infinity7 {
  width:90px;
  height:14px;
  background: 
    linear-gradient(90deg,#766DF4 50%,#0000 0) repeat-x,
    conic-gradient(from 45deg at right 7px top  50%,#766DF4 90deg,#0000 0);
  background-position: calc(100%/3) 50%;
  background-size:calc(100%/4) 60%,calc(100%/4) 100%;
  animation: infinity7  0.5s infinite linear;
}
@keyframes  infinity7  {
    100% {background-position: 0 50%}
}
.custom-loader-infinity8 {
  width:90px;
  height:12px;
  background: 
    linear-gradient(90deg ,#766DF4 50%,#0000 0) 0 0%,
    linear-gradient(-90deg,#766DF4 50%,#0000 0) 0 50%,
    linear-gradient(90deg ,#766DF4 50%,#0000 0) 0 100%;
  background-size: 8px calc(100%/3);
  background-repeat: repeat-x;
  animation: infinity8  .25s infinite linear;
}
@keyframes  infinity8  {
    100% {background-position: -8px 0%,-8px 50%,-8px 100%}
}
.custom-loader-infinity9 {
  width:90px;
  height:14px;
  background: 
    linear-gradient(90deg,#0000 16px, #766DF4 0 30px, #0000 0),
    radial-gradient(circle closest-side at 68% 50%, #766DF4 92%,#0000),
    conic-gradient(from   45deg at calc(100% - 7px) 50%,#766DF4 90deg,#0000 0),
    conic-gradient(from -135deg at             7px  50%,#766DF4 90deg,#0000 0);
  background-position: 0 0;
  background-size:calc(3*100%/4) 100%;
  background-repeat: repeat-x;
  animation: infinity9  2s infinite linear;
}
@keyframes  infinity9  {
    100% {background-position: -300% 0}
}
.custom-loader-infinity10 {
  width:90px;
  height:12px;
  background: 
    linear-gradient( 90deg,#766DF4 50%,#0000 0) 0 0%,
    linear-gradient(-90deg,#766DF4 50%,#0000 0) 0 0%;
  background-size: 20px 100%;
  background-repeat: repeat-x;
  animation: infinity10  1s infinite linear;
}
@keyframes  infinity10  {
    100% {background-position: -20px 0%,20px 0%}
}
